@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Noto+Sans+KR:wght@900&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Dongle', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
